<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <sessionState mode="InProc"
                    stateConnectionString="tcpip=server:port"
                    sqlConnectionString="sql connection string"
                    cookieless="false"    
                    timeout="20"
    />
    </system.web>
  <connectionStrings>
    <add name="webLoginconn" connectionString="Server=.;
         uid=sa;Password=9631zz;database=db_Blog" providerName="System.Data.SqlClient"/>
</connectionStrings>

</configuration>
